@page
@using Class_Library.Classes
@model Razor_Pages_Web_App.Pages.CreateSubmissionModel
@{
	var enumPlatformOptions = Enum.GetValues(typeof(EnumPlatform))
										.Cast<EnumPlatform>()
										.Select(e => new SelectListItem
										  {
											  Value = ((int)e).ToString(),
											  Text = e.ToString()
										  });
}
@if (TempData["Message"] != null)
{
	<div class="alert alert-danger centertext">
		@TempData["Message"]
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<div class="container">
	<div class="row d-flex justify-content-center text-center">
		<div class="col-md-8 d-flex justify-content-center">
			<div class="panel panel-default border m-5 p-4 img-rounded shadow-lg p-3 mb-5 bg-white rounded" id="panel_login">
				@{
					if (Model.Type == 1)
					{
						<h1 class="mt-3">Create Ranked Submission</h1>
					}
					else
					{
						<h1 class="mt-3">Create Unranked Submission</h1>
					}
				}
				<h4 class="mt-3"> Note: All fields are required.</h4>

				<form method="post" class="mt-3 mb-2">
					<label class="h5">Game:  </label>
					<input type="text" value="@Model.Game.Name" class="form-control" disabled />
					<br />

					<label asp-for="@Model.DateInput" class="h5">Date:  </label>
					<input type="date" asp-for="@Model.DateInput" class="form-control" />
					<br />

					<label asp-for="@Model.Hours" class="h5">Hours:  </label>
					<input type="number" max="72" min="-1" asp-for="@Model.Hours" value="@Model.Hours" class="form-control" />
					<br />

					<label asp-for="@Model.Minutes" class="h5">Minutes:  </label>
					<input type="number" max="59" min="-1" asp-for="@Model.Minutes" value="@Model.Minutes" class="form-control" />
					<br />

					<label asp-for="@Model.Seconds" class="h5">Seconds:  </label>
					<input type="number" max="59" min="-1" asp-for="@Model.Seconds" value="@Model.Seconds" class="form-control" />
					<br />

					<label asp-for="@Model.Platform" class="h5">Platform:  </label>
					<select asp-for="@Model.Platform" class="form-control">
						<option value="" hidden disabled selected>Select your platform:</option>
						@foreach (var option in enumPlatformOptions)
						{
							<option value="@option.Value">@option.Text</option>
						}
					</select>
					<br />
					@{
						if (Model.Type == 1)
						{
							<label asp-for="@Model.Link" class="h5">Link:  </label>
							<input type="text" asp-for="@Model.Link" class="form-control" placeholder="Upload your link:" />
						}
						else
						{
							<label asp-for="@Model.TAS" class="h5">TAS:  </label>
							<input type="checkbox" asp-for="@Model.TAS">
							<br />
							<label asp-for="@Model.Glitchless" class="h5">Glitchless:  </label>
							<input type="checkbox" asp-for="@Model.Glitchless">
							<br />
							<label asp-for="@Model.AnyPercent" class="h5">Any Percent:  </label>
							<input type="checkbox" asp-for="@Model.AnyPercent">
							<br />
						}
					}
					<div class="input-group-btn">
						<a class="btn btn-secondary btn-lg mt-3" asp-page="./GameDetails" asp-route-id="@Model.Id">Close</a>
						<button type="submit" class="btn btn-primary btn-lg mt-3" asp-page-handler="OnPost" asp-route-id="@Model.Id" asp-route-type="@Model.Type">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
